* {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
  height: calc(100vh - 30px);
  background: #34475ab0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

ul.file-list {
    font-size: 12px;
    list-style-type:  "⟶";
}

li.file-list-item::marker {
    color: red;
}

ul.file-list > li.file-list-item {
    font-size: 14px;
    padding: 0;
    padding-left: 1em;
    margin: 0;
}


li.file-list-item:nth-child(odd)::marker {
    color: red !important;
}

li.file-list-item:nth-child(even)::marker {
    color: green !important;
}

ul.file-list > li.file-list-item:nth-child(odd) {
//    color: black;
//    background-color: white;
}

ul.file-list > li.file-list-item:nth-child(even) {
//    color: white;
//    background-color: #34475ab0;
}

