html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div.picker {
    width: 100%;
    height: 40px;

    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdfContainer {
  background: #34475ab0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 100%;
  height: calc(100% - 40px);
}

.pdfContainer iframe {
  width: 100%;
  height: 100%;
}

.viewer {
  height: calc(100vh - 30px);
  background: #34475ab0;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  font-size: 1em;
}

.viewer iframe {
    width: 100%;
    height: 100%;
}
