html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
}

.dataContainer {
  background: #34475ab0;
  color: white;
  display: flex;
  justify-content: top;
  align-items: left;
  font-size: 1em;
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  overflow-x: hidden;
  padding-top: 5px;
}

table.file-list {
	width: 100%;
	background: lightgrey;
	border: 1px solid black;
	color: black;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

table.file-list > thead {
	background: #688EB4B0;
	color: white;
	font-size: 1.25em;
	font-weight: bold;
	border-bottom: 1px dashed black;
}

table.file-list > tbody > tr.list-item {
	font-family:
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		"Liberation Mono",
		"Courier New",
		monospace;
	letter-spacing: 0.1em;
}

table.file-list > tbody > tr.list-item:nth-child(even) {
	background: #34475ab0;
	color: white;
	font-size: 1em;
}

table.file-list > tbody > tr.list-item:nth-child(odd) {
	background: #808080;
	color: white;
	font-size: 1em;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

table.file-list > tbody > tr.list-item:last-child {
	border-bottom: none;
}

table.file-list > tbody > tr.list-item:first-child {
	border-top: none;
}

td.view-button-cell {
	align-items: center;
	justify-content: center;
	width: 40px;
}

#tool-bar {
	background: #34475AB0;
	height: 32px;
	align-items: center;
	justify-content: center;
	align-content: center;
	border-bottom: 1px dotted #1A232DB0
}

.toolbar-button {
	height: 24px;
	width: 24px;
	border-bottom: 2px solid black;
	padding-bottom: 2px;
	padding-top: 2px;
}

.view-button {
	height: 24px;
	width: 24px;
}

td.no-cell-borders {
	border: none;
}

td.name-cell {
	min-width: 85%;
}

td.size-cell {
	width: 5.5em;
	min-width: 5%;
	max-width: 7.5em;
	text-align: right;
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
}

.center-me {
	justify-content: center !important;
	align-content: center !important;
	align-items: center !important;
	text-align: center !important;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
